body {
    font-size: 20px;
    line-height: 1.5;
    font-family: Sans-Serif;
}

.title {
    text-align: center;
    font-size: 45px;
    padding-right: 150px;
}

header,
main,
footer {
    margin: 1.25rem auto;
    max-width: 750px;
}

header,
footer {
    background-color: #E6E6FA;
    color: black;
    text-align: center;
    padding: 1.25rem;
}

header img {
    float: right;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: -130px;
}

.under {
    text-decoration: underline;    
}