body {
    font-size: 20px;
    line-height: 1.5;
    font-family: Sans-serif;
}

.title {
    text-align: center;
    font-size: 45px;
    padding-right: 150px;
}

header,
main,
footer {
    margin: 1.25rem auto;
    max-width: 750px;
    border-radius: 15px;
}

header,
footer {
    background-color: #f08080;
    color: black;
    text-align: center;
    padding: 1.25rem;
     
}

header img {
    float: right;
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: -130px;
    box-shadow: 5px 5px 5px #999;
    border-top-right-radius: 8px; 
}

.under {
    text-decoration: underline;
}