@media only screen and (min-width 520px) {
    .title {
        font-size: 48px;
    }

    h2 {
        font: size 30px;
    }

    header,
    footer {

        border-radius: 15px;
    }

    header img {
        float: right;
        height: 200px;
        width: 200px;
        margin: 15px;
        margin-top: -80px;
        box-shadow: 5px 5px 5px #999;
        border-top-right-radius: 8px;
    }

}