@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Roboto&display=swap');

body {
    font-size: 20px;
    line-height: 1.5;
    font-family: 'PT Sans Narrow', sans-serif;
}

.title {
    text-align: center;
    font-size: 35px;
    padding-right: 150px;
    font-family: 'Roboto', sans-serif;

}

h2 {
    font-size: 20px;
    margin-bottom: 0.5rem;
}

header,
main,
footer {
    margin: 1.25rem auto;
    max-width: 750px;
}

header,
footer {
    background-color: #FFE4CA;
    color: black;
    text-align: center;
    padding: 1rem;
}

header img {
    height: 200px;
    width: 200px;
    margin: 15px;
    margin-top: -80px;
}