body {
    font-size: 20px;
    line-height: 1.5;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: #FFFFFF;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 25px;
    margin-bottom: 0.5rem;
}

header,
main,
footer {
    margin: 1.25rem auto;
    max-width: 750px;
}

header,
footer {
    background-color: #ffcccc;
    color: black;
    text-align: center;
    padding: 1rem;

}

header img {
    margin: 15px;
}