@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@300&display=swap');

header,
main,
footer {
    max-width: 960px;
    margin: auto;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.site-map {
    max-width: 960px;
}

nav>ul {
    list-style-type: none;
    display: flex;
}

nav a {
    padding: 10px;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}

th {
    text-align: left;
}

.sample1 {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFF;
    color: #000000;
    font-size: 35px;
}

.sample2 {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: #FFFF;
    font-size: 18px;

}

.sample3 {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 25px;
}

.sample4 {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 23px;
}
.sample4-a {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 18px;
}

.sample5 {
    font-family: 'Open Sans', sans-serif;
    background-color: #D00000;
    color: white;
    font-style: bold;
    font-size: 16px;
}

.sample6 {
    font-family: 'Open Sans', sans-serif;
    color: black;
    background-color: #FCA311;
    font-size: 16px;
}

.sample7 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: #465362;
    font-size: 16px;
}

.sample8 {
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    color: black;
    font-size: 16px;
}

/*<td class="primary">[#FFFF]</td><!--white-->
            <td class="secondary">[#E5E5E5]</td><!--gray-->
            <td class="accent1">[#0000]</td><!--black-->
            <td class="accent2">[#FCA311]</td><!--yellow-->
            <td class="accent3">[#D00000]</td><!--red-->
            <td class="accent4">[#465362]</td><!--dark gray-->*/
.primary {
    background-color: #FFFF;
}

.secondary {
    background-color: #E5E5E5;
}

.accent1 {
    background-color: black;
    color: white;
}

.accent2 {
    background-color: #FCA311;

}

.accent3 {
    background-color: #D00000;
}

.accent4 {
    background-color: #465362;
}