/*Lesson 2 CSS-tablet view*/

@media only screen and (min-width: 37.5em) {
    main {

        grid-template-columns: 1fr 1fr;

    }

    .three {
        grid-column: span 2;
        margin-top: 10px;

    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 35px;
    }


    .imagethree {
        display: block;
        margin-left: auto;
        margin-right: auto;
       
    }

}