/* Lesson 2 CSS-phone view */

@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

main {

    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    width: 750px;



}

body {
    font-size: 20px;
    line-height: 1.5;
    font-family: 'PT Sans Narrow', sans-serif;

}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Kalam', cursive;
}

h2 {
    font-size: 25px;
    margin-bottom: 0.5rem;
}


body,
header,
main,
footer {
    margin: 1.25rem auto;
    width: 750px;
}

body {
    margin-right: 100px;
    margin-left: 100px;
}

header,
footer {
    background-color: #ffcccc;
    color: black;
    text-align: center;
    padding: 1.25rem;
    border-radius: 10px;
    width: 760px;
}

.one {
    background-color: #E8E8E8;
    border-radius: 5px;
    padding: 1em;
    text-align: center;
    column-gap: 50px;
    margin-right: 5px;

}

.two {
    background-color: #E8E8E8;
    border-radius: 5px;
    padding: 1em;
    text-align: center;
    column-gap: 50px;
    margin-right: 5px;
}

.three {
    background-color: #E8E8E8;
    border-radius: 5px;
    padding: 1em;
    text-align: center;
    column-gap: 50px;
    
}

main article img {
    border: 2px solid white;
    box-shadow: 5px 5px #afa8a8;
    width: 100%;
}

h3 {
    font-size: 25px;
    color: black;
    background-size: cover;
    font-family: 'Kalam', cursive;

}

.dillards,
.underarmour,
.pbs {
    text-align: left;
}