/*small view*/

header h1 {
    font-size: 40px;
    color: #3A5FCD;
    font-weight: bold;
    text-align: center;
    font-family: 'Merriweather', 'serif';
}

h2 {
    font-size: 30px;
    color: #003F87;
    font-weight: bold;
    padding-top: 15px;
    margin-top: 5px;
    font-family: 'Merriweather', 'serif';
}

main div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 9px;
    justify-content: center;
    text-align: center;
    background-color: #e0e0e0;
    box-shadow: 0 0 50px black;
    padding: 10px;
    margin: 10px;
}

section {
    background-color: #a2a2d0;
    outline-style: solid;
}

p {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'serif';
    font-size: 18px;
}

date,
place {
    padding: 5px;
}

img {
    height: auto;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 50px black;
}

footer {
    text-align: center;
}






/*medium view*/

@media only screen and (min-width: 768px) {

    main div {
        grid-template-columns: 1fr 1fr;
    }
}

/*large view*/
@media only screen and (min-width: 1100px) {

    main div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}