@media only screen and (min-width: 992px) {

    header {
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
        width: 100%;
    }

    nav button{
        display:none; 
    }
    nav ul {
        display: flex;
      
    }
    
    nav ul li {
        flex: 1 1 100%;
        font-size: 18px;
    }

.weathersummary{
    position:absolute;   
}


    }