@media only screen and (min-width: 768px) {


    header {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 100%;
    }


    nav ul {
        display: flex;
        font-size: 15px;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
    }
/**home page**/
    div.mygallery {
        display: flex;
    }
    .mygallery2{
        display:grid; 
        grid-template-columns: 200px 200px 200px ; 
        grid-gap: 65px; 
        padding: 15px; 
     }
     /**city page**/
     img.city{
        margin:auto;
    }
    /**join page**/
    .why-join{
        background-color: #464646;
        color: white; 
        padding:20px; 
        text-align: center;
        border:2px solid #FCA311; 
    }
    ol ul{
        font-size:18px; 
        text-align:center; 

    }
    .mother-daugther{
        max-width: 280px;
        float:right; 
        padding:5px; 
    }
   
   
}