/************header****************/
header,
body,
main,
footer {
    width: 100%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
}

main {
    background-color: #E5E5E5E5;
    padding: 5px;
}

header {
    display: grid;
    grid-template-columns: 1fr;

}

section.heading {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

header h1 {
    font-size: 30px;
}

div.motto {
    font-size: 25px;
    font-style: italic;
    color: #D00000;

}

image.header-icon {
    max-width: 100%;
    padding: 10px;
    margin: auto;
}

picture {
    width: 200px;
}


/**********navigation bar**********/

nav {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    width: 100%;
    margin: 0 auto;
    background-color: #0000;
    text-align: center;
    display: block;
    box-shadow: 0 0 15px rgb(92, 90, 90);
}


nav ul {
    list-style-type: none;
    /*this removes the bullet points on the side of each list item*/
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline;
    text-decoration: none;
}

nav ul li a {
    display: block;
    /*this places the nav in a block for the small screen view*/
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    background-color: black;
    /* this removes the underline from every list item*/
}

nav button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 40px;
}

nav ul li.active a {
    background-color: #D00000;
    color: #F8F8FF;
}

/*always place .active before "hover" so it can work properly*/


nav a:hover {
    background-color: #D00000;
    color: black;
    transition: all 0.3s ease;

}

nav ul.hide {
    display: none;
}

/********hero image and weather box***********/

img {
    width: 100%;
    display: block;
}

.weathersummary {

    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: bold;
    /*By removing position:absolute; from my small.css I was able to let my summary show under my hero image on my small view screen*/
    bottom: 5px;
    right: 10px;
    background: radial-gradient(#eee, #638be4);
    padding: 45px;
    padding-top: 5px;
    opacity: .8;
    font-size: 18px;
    text-align: left;
    margin-right: 20px;
}



/*********main area************/

p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

ol li {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

/**forecast**/


.forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 15px;

}

.eachday {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    display: inline;
}

.forecast-title {
    text-align: center;
}

/**purpose and goals**/

.purpose {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    background-color: #465362;
    color: #ffff;
    padding: 10px;
    font-size: 16px;
}

.goals {
    background-color: #FCA311;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

.goals-title {
    text-align: center;
}

/**call to action button**/

.button {
    display: block;
    text-align: center;
}

.call-to-action-button {
    border: none;
    border-radius: 3em;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    font-size: 30px;
    padding: 16px 32px;
    width: auto;
    background-color: #FCA311;
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/**municipality images**/

.mygallery {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 230px;
    justify-content: center;
    grid-row-gap: 8px;
    padding: 10px;
    margin-bottom: auto;
}

div.mygallery2 {
    max-width: 200px;
}

figure {
    margin: 0 auto;
}

img[data-src] {
    /*it goes from bluring to not bluring above after 2 seconds. By specificity order this code takes priority over the img above. */
    filter: blur(3px);
}

.mygallery img {
    filter: blur(0px);
    transition: filter 0.6s;
    max-width: 100%;
}

.events-municipality {

    padding: 20px;
}


.shadow {
    max-width: 200px;
    margin: auto;
}

/**advertisement**/
.deals {
    display: inline;
}

figcaption {
    text-align: center;
    background-color: white;
    padding: 10px;
}

.mygallery2 {
    display: grid;
    grid-template-columns: 200px;
    grid-gap: 10px;
    padding-left:78px; 
}

.hotdeals {
    text-align: center;
}

/**city**/
.history-title {
    text-align: center;
}

section.demographics {
    margin: auto;
    text-align: left;
    padding: 10px;
}

.city-events {
    margin: auto;
    text-align: center;
    padding: 10px;
}

.shadow {
    margin: auto;
}

/*this class belongs to the image on the events section on the city page*/

.events-title {
    background-color: #FcA311;
    padding: 25px;
    border: 1px solid black;
}

.city {
    max-width: 400px;
}

.history {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    font-size: 16px;
    min-height: 20px;
}

.history-article {
    padding: 20px;
}

img.city {
    padding: 5px;
    border-radius: 75%;
    max-width: 300px;
    margin: auto;
    width: 100%;
}

.continue-reading {
    color: blue;
}

.demographics {
    text-align: left;
}

.pie-chart {
    max-width: 400px;
    width: 100%;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
    margin: auto;
}

/***********join page***************/
.why-join {
    background-color: #464646;
    color: white;
    padding: 10px;
    text-align: left;
    border: 1px solid #FCA311;

}

.members-benefits-site {
    color: white;
}

ul {
    font-size: 18px;
    text-align: left;
    padding: 2px;
}

ol {
    padding-left: 5px;
}

/**join page form**/

form legend {
    color: #D00000;
    margin: 15px;
    padding: 10px;
}

form fieldset {
    margin: 20px 0;
    border: 2px solid silver;
    padding: 5px;
    background-color: rgb(241, 244, 245);
    max-width: 100%;
}

legend {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
}


label.top,
label.middle,
label.submitButton {
    display: block;
    padding: .75rem;
    color: black;
    font-size: 18px;
    margin-left: 1px;
    font-family: 'Poppins', sans-serif;
}

/*input type text boxes*/
.box,
.smallbox {
    display: block;
    font-size: 15px;
    border: 1px solid #999;
    padding: .75rem;
    width: 250px;
}


.commentsBox {
    display: block;
    font-size: 10px;
    border: 1px solid #999;
    padding: .75rem;
    width: 250px;
    height: 200px;
}



section.form {
    max-width: 600px;
    margin: auto;
    padding: 15px;
}

textarea#msg.descriptionBox {
    margin: 0px 0px 0px 12px;
}

input.button {
    display: grid;
    border: none;
    background-color: #FCA311;
    color: black;
    padding: .75rem 1.5rem;
    margin: auto;
    margin-bottom: 10px;
    max-width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    max-width: 20rem;
    text-align: center;
    border-style: ridge;
}

/**testimonial section**/
.contentbox {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    max-width: 700px;
    text-align: left;
    margin: auto;
}

.mother-daugther {
    max-width: 200px;
    margin: auto;
}

.testimonial {
    border-left: 2px solid#FCA311;
    height: 200px;
    padding: 10px;
}

/**membership benefits**/
.membership {
    max-width: 700px;
    margin: auto;
}

.table {
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
    border: solid 2px orange;
}



/**thank you letter**/
.thank-you-letter {
    margin: auto;
    text-align: center;
    padding: 50px;
}

/**************contact page****************/
.contact-page {
    margin: auto;
    text-align: center;
}

.contact-form {
    max-width: 700px;
    margin: auto;
    width: 100%;
}

.contact-heading {
    text-align: center;
}

.board-background {
    padding: 20px;
}

.board-of-directors {
    display: grid;
    grid-template-columns: 350px;
    grid-gap: 20px;
}

/*************Directory*************/



/*********gallery page *********/
.mySlides {
    display: none;
    width: 100%;
}

.images {
    max-width: 600px;
    margin: auto;
}

.last-gallery {
    padding: 20px;
    text-align: center;
    max-width: 900px;
    margin: auto;
}

/************footer************/
footer {
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.social {
    text-align: left;
    display: inline-block;
}

.social img {
    width: 35px;

}

#weathersite,
#weatherwarning,
#attribution {
    color: white;

}