@media only screen and (min-width: 768px) {

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
    }

   

  /* .cards section{
display:grid; 
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
align-items: center;
   }
    

.cards section:nth-child(even) img{
    grid-column: 1;
}
.cards section:nth-child(even) h2 h3 p{
    grid-column: 2;
}

.cards section:nth-child(odd) h3{
    grid-column:1; 
}*/
}
