@media only screen and (min-width: 992px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    header img {
        width: 100%;
    }

    .heading h1 {
        font-size: 30px;
    }

    .motto {
        font-size: 15px;
    }

    h2 {
        font-size: 25px;
    }

    ul,
    li {
        font-size: 20px;
    }
    
    .weathersummary{
        position:absolute;
        font-size: 15px; 
    }


    .contentbox4 {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    
    }







}
