@media only screen and (min-width: 768px) {

    nav ul {
        display: flex;
    }
    
    nav ul li {
        flex: 1 1 100%;
    }
 
 nav button {
    display:none; 
}
nav ul.hide {
    display: flex;
}
}