h1 {
    font-family: 'Yusei Magic', 'Lato', 'Source Code Pro';
    text-align: center;
}

header,
main {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 5px;

}

main {

    display: grid;
    grid-auto-rows: 400px;
    justify-content: center;
    grid-row-gap: 20px;
    padding: 10px;

}

img[data-src] {
    /*it goes from bluring to not bluring above after 2 seconds. By specificity order this code takes priority over the img above. */
    filter: blur(3px);
}

img {
    filter: blur(0px);
    transition: filter 2s;
}

