@media only screen and (min-width: 768px)  {

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
    }

    .mygallery {
        display: grid;
        grid-template-columns: 200px 200px;
        justify-content: center;
        grid-gap: 10px;
    }
    .mygallery figcaption {
        background-color: lightblue;
        padding: 5px;
        text-align: center;
        font-family: 'Lato', sans-serif;
        border: thin silver solid;
    }

}